<!--
 * @Author: your name
 * @Date: 2019-12-10 15:50:07
 * @LastEditTime: 2019-12-11 10:53:10
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit 登录界面
 * @FilePath: \watchlist\templates\login.html
 -->
{% extends 'base.html' %}

{% block content %}
<h3>Login</h3>
<form method="post">
    Username<br>
    <input type="text" name="username" required><br><br>
    Password<br>
    <!-- 密码输入框的 type 属性使用 password，会将输入值显示为圆点 -->
    <input type="password" name="password" required><br><br>
    <input class="btn" type="submit" name="submit" value="Submit">
</form>
{% endblock %}