<!--
 * @Author: your name
 * @Date: 2019-12-10 14:36:45
 * @LastEditTime: 2019-12-10 14:37:04
 * @LastEditors: Please set LastEditors
 * @Description: 电影编辑页面模板
 * @FilePath: \watchlist\templates\edit.html
 -->
{% extends 'base.html' %}

{% block content %}
<h3>Edit item</h3>
<form method="post">
    Name <input type="text" name="title" autocomplete="off" required value="{{ movie.title }}">
    Year <input type="text" name="year" autocomplete="off" required value="{{ movie.year }}">
    <input class="btn" type="submit" name="submit" value="Update">
</form>
{% endblock %}